<% layout("/layouts/boilerplate") -%>

    <body>
        <h1 class="m-3 fw-bold">
            <%= listing.title %>
        </h1>
        <div class="row m-3">
            <div class="round col-md-5 stamp-border">
                <img src="<%= listing.image.url %>" alt="<%= listing.title %>" class="round"
                    style="width:100%; height:auto;">
            </div>
            <div class="col-md-7">
                <div class="info">
                    <p>
                        <strong>Description:</strong>
                        <%= listing.description %>
                    </p>
                    <p>
                        <strong>Location:</strong>
                        <%= listing.location %>, <%= listing.country %>
                    </p>
                    <p>
                        <strong>Price per night:</strong> $<%= listing.price %>
                    </p>

                    <% if (currentUser && currentUser._id.equals(listing.owner._id)) { %>
                        <a href="/listings/<%= listing._id %>/edit" class="btn btn-primary">Edit</a>
                        <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST"
                            style="display:inline;">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                        <% } %>

                            <% if (currentUser) { %>
                                <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                                    data-bs-target="#reviewModal">Add a Review</button>
                                <% } %>
                </div>

                <div class="owner mt-4">
                    <h3 class="fw-bold">Owner:</h3>
                    <p>
                        <strong>Name:</strong>
                        <%= listing.owner.name %>
                            <small><i>(<%= listing.owner.username %>)</i></small>
                    </p>
                    <p>
                        <strong>Email:</strong>
                        <%= listing.owner.email %>
                    </p>
                </div>

                <div class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="reviewModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="reviewModalLabel">Add a beautiful Review</h1>
                            </div>

                            <div class="modal-body">
                                <form action="/listings/<%= listing._id %>/reviews" method="POST"
                                    class="needs-validation" novalidate>
                                    <fieldset class="starability-heartbeat mt-3" required>
                                        <input type="radio" id="first-rate1" name="rating" value="1" />
                                        <label for="first-rate1" title="Terrible">1 star</label>
                                        <input type="radio" id="first-rate2" name="rating" value="2" />
                                        <label for="first-rate2" title="Not good">2 stars</label>
                                        <input type="radio" id="first-rate3" name="rating" value="3" />
                                        <label for="first-rate3" title="Average">3 stars</label>
                                        <input type="radio" id="first-rate4" name="rating" value="4" />
                                        <label for="first-rate4" title="Very good">4 stars</label>
                                        <input type="radio" id="first-rate5" name="rating" value="5" checked />
                                        <label for="first-rate5" title="Amazing">5 stars</label>
                                    </fieldset>

                                    <div class="mb-3">
                                        <label for="comment" class="form-label">Review:</label>
                                        <textarea class="form-control" id="comment" name="comment" rows="5"
                                            placeholder="Add what you liked or what can be improved â¤ï¸"
                                            required></textarea>
                                        <div class="valid-feedback">
                                            Thankyou so much for your review ðŸ˜Š
                                        </div>
                                        <div class="invalid-feedback">
                                            Atleast write something about your experience
                                        </div>
                                    </div>

                                    <button type="reset" class="btn btn-danger">Reset</button>
                                    <button type="submit" class="btn btn-primary">Doneâœ…</button>
                                </form>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="reviews">
                    <h3 class="fw-bold">Reviews:</h3>
                    <% if (listing.reviews && listing.reviews.length> 0) { %>
                        <% for(let review of listing.reviews) { %>
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h5 class="card-title fw-bold">
                                        <%= review.author.name %>
                                            <small class="fw-medium"><i>(<%= review.author.username %>)</i></small>
                                    </h5>
                                    <p class="starability-result m-2" data-rating="<%= review.rating %>"></p>
                                    <p class="card-text fw-medium">
                                        <%= review.comment %>
                                    </p>
                                    <p class="card-text fw-light">
                                        <small>Created at: <%= review.createdAt.toLocaleString() %></small>
                                        <br>
                                        <small>Updated at: <%= review.updatedAt.toLocaleString() %></small>
                                    </p>
                                    <% if (currentUser && currentUser._id.equals(review.author._id)) { %>
                                        <form
                                            action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
                                            method="POST">
                                            <button type="submit" class="btn btn-danger">Delete review</button>
                                        </form>
                                        <% } %>
                                </div>
                            </div>
                            <% }; %>
                                <% } else { %>
                                    <p>No reviews yet.</p>
                                    <% } %>
                </div>
            </div>
        </div>
    </body>