<style>
    #filters {
        scrollbar-width: none;
        /* Firefox */
        -ms-overflow-style: none;
        /* Internet Explorer 10+ */
    }

    .filter {
        opacity: 0.75;
        cursor: pointer;
    }

    .filter:hover {
        opacity: 1;
    }

    .filter span {
        font-size: 0.75rem;
    }
</style>
<% layout("/layouts/boilerplate") -%>

    <body>
        <div id="filters" class="d-flex gap-3 mt-3 px-3 overflow-auto">
            <div class="filter d-flex flex-column align-items-center">
                <div><i class="fa-solid fa-fire"></i></div>
                <span>Trending</span>
            </div>
            <div class="filter d-flex flex-column align-items-center">
                <div><i class="fa-solid fa-hotel"></i></div>
                <span>Hotel</span>
            </div>
            <div class="filter d-flex flex-column align-items-center">
                <div><i class="fa-solid fa-bed"></i></div>
                <span>Rooms</span>
            </div>
            <div class="filter d-flex flex-column align-items-center">
                <div><i class="fa-solid fa-archway"></i></div>
                <span>Archway</span>
            </div>
            <div class="filter d-flex flex-column align-items-center">
                <div><i class="fa-solid fa-caravan"></i></div>
                <span>Caravan</span>
            </div>
            <div class="filter d-flex flex-column align-items-center">
                <div><i class="fa-solid fa-umbrella-beach"></i></div>
                <span>Beach</span>
            </div>
            <div class="filter d-flex flex-column align-items-center">
                <div><i class="fa-solid fa-mountain-city"></i></div>
                <span>Mountains</span>
            </div>
            <div class="filter d-flex flex-column align-items-center">
                <div><i class="fa-brands fa-fort-awesome"></i></div>
                <span>Fort</span>
            </div>
            <div class="filter d-flex flex-column align-items-center">
                <div><i class="fa-brands fa-space-awesome"></i></div>
                <span>OMG</span>
            </div>
        </div>
        <div class="d-flex flex-wrap justify-content-evenly gap-5 mt-3 mb-5">
            <% listings.forEach(listing=> { %>
                <div class="card plus-jakarta-sans-300" style="width: 25rem;">
                    <img src="<%= listing.image.url %>" class="card-img-top" alt="destianation">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">
                            <%= listing.title %>
                        </h5>
                        <p class="card-text">
                            <%= listing.location %>, <%= listing.country %>
                        </p>
                        <p class="card-text fw-bold">
                            ₹<%= listing.price.toLocaleString() %> per night
                        </p>
                        <a href="/listings/<%= listing._id %>" class="btn btn-danger">View information</a>
                    </div>
                </div>
                <% }) %>
        </div>
    </body>